	<div>
        <div class="jumbotron jumbotron-fluid background-image-worldmap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-white">
                        <h1 class="display-1">About us</h1>
                        <p class="h2">France, UK, USA, <br />Germany, Switzerland, <br />Canada, Senegal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Acknowledgment</h2>
                    <hr/>
                    <p>The solution is edited by the ActiveEon company, with contributions from the INRIA OASIS Team (INRIA - University of Nice Sophia Antipolis).</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card acknowledgment-card">
                                <img class="card-img-top" src="{{ .Site.BaseURL }}images/about/about-activeeon.png" alt="ActiveEon Logo" />
                                <div class="card-body">
                                    <p class="card-text text-muted">Business support, Business features, Main contributor</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card acknowledgment-card">
                                <img class="card-img-top" src="{{ .Site.BaseURL }}images/about/about-inria.png" alt="Inria Logo" />
                                <div class="card-body">
                                    <p class="card-text text-muted">User and contributor</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card acknowledgment-card">
                                <img class="card-img-top" src="{{ .Site.BaseURL }}images/about/about-university-sophia.png" alt="Universite Nice Sophia Logo" />
                                <div class="card-body">
                                    <p class="card-text text-muted">User and contributor</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="mt-4">Contact</h2>
                    <hr/>
                    <p>For specific enquiries, demos, documentation, etc. do not hesitate to <a href="mailto:contact@activeeon.com?Subject=[ProActive]%20Request%20for%20information" target="_top">contact us</a>.</p>

                    <address>
                        <strong>ActiveEon</strong><br/>
                        2000 route des lucioles<br/>
                        Les Algorithmes, Pythagore B2<br/>
                        06560 Sophia Antipolis<br/>
                        FRANCE<br/>
                        <abbr title="Phone">P:</abbr> +33 988 777 660
                    </address>

                    <p>
                        For international addresses and phone <a href="{{ .Site.Params.Links.Activeeon.contact }}" target="_blank">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
