	<div>
        <div class="background-orange">
        <div class="jumbotron jumbotron-fluid background-image-community">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-white">
                        <h1 class="display-1">Community</h1>
                        <p class="h2">Our approach to product development is tied to the community needs. Understand current & future ecosystem states are key to guide long term development.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 text-center">
                    <h2>Hub</h2>
                    <hr/>
                    <p class="h4 mb-3">
                        Pre-made workflows to get you started. <br />
                        Integrate in no time! <br />
                    </p>
                    <a class="btn btn-outline-primary mb-3" href="{{ .Site.Params.Links.Activeeon.hub }}" target="_blank">Activeeon Hub</a>
                    <ul class="list-unstyled text-muted">
                        <li>Azure, AWS, GCP</li>
                        <li>OpenStack, VmWare</li>
                        <li>Tensorflow</li>
                        <li>Kafka, Storm</li>
                        <li>Spark, Hadoop</li>
                        <li>Docker</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </div>


        {{ if gt (len .Site.Data.usecases) 0 }}
        <div class="background-usecase">
                <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-md-8 text-center">
                        <h2>Use Cases</h2>
                        <hr />
                    </div>
                </div>
                <div class="card-deck">
                    {{ range $index, $element := sort .Site.Data.usecases "weight" }}
                    <div class="card">
                        <img class="card-img-top" src="{{ $.Site.BaseURL }}{{ $element.image }}" alt="{{ $element.title }}" />
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ $element.title }}</h4>
                            <p class="card-text text-muted">{{ $element.description }}</p>
                            <a href="{{ $element.pdfurl }}" class="btn btn-outline-secondary" target="_blank">
                                Download
                            </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
			</div>
		</div>
		{{ end }}

        <div class="container">
            <div class="row justify-content-md-center pt-3 pb-3">
                <div class="col-md-4 text-center">
                    <h2>Events</h2>
                    <hr/>
                    <p>Come and meet us on some worldwide <a href="{{ .Site.Params.Links.Activeeon.events }}" target="_blank">events</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <h2>Users and Partners</h2>
                    <hr/>
                    <p>A few of our <a href="{{ .Site.Params.Links.Activeeon.customers }}" target="_blank">customers & partners</a></p>
                    <div class="row justify-content-md-center">
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-aws.png" alt="aws" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-azure.png" alt="azure" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-capgemini.png" alt="capgemini" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-devoteam.png" alt="devoteam" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-docker.png" alt="docker" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-gcp.png" alt="gcp" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-sap.png" alt="sap" class="img-thumbnail mb-2"/>
                        </div>
                        <div class="col-3">
                            <img src="{{ .Site.BaseURL }}images/alliance/alliance-suse.png" alt="suse" class="img-thumbnail mb-2"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <h2>Github Trackers</h2>
                    <hr/>
                    <p>Follow our roadmap and fixes on <a href="{{ .Site.Params.Links.Activeeon.repobugtracker }}" target="_blank">Github</a></p>
                </div>
            </div>
        </div>

        <div class="background-home-try">
            <div class="background-white">
                <div class="container">
                    <div class="row align-items-center justify-content-md-center">
                        <div class="col-md-7">
                            <h2>Technology</h2>
                            <hr/>
                            <p>
                                ProActive source code is hosted on <a href="{{ .Site.Params.Links.Activeeon.repoproactive }}" target="_blank">Github</a>
                            </p>
                            <p>
                                To get access to the current Git repository, and contribute to the next release of ProActive.
                            </p>
                            <pre class="background-white p-2"><code>
git clone https://github.com/ow2-proactive/scheduling.git scheduling
git clone git@github.com:ow2-proactive/scheduling.git scheduling
                            </code></pre>
                        </div>
                        <div class="col-md-4">
                            <p class="h4 text-center">
                                Try it for free <a href="{{ .Site.Params.Links.Activeeon.try }}" target="_blank">here</a> and follow this tutorial in <a href='{{ with .Site.GetPage "page" "get-started.md" }}{{ .URL }}{{ end }}'>3 steps</a>. <br/><br/>
                                <a class="btn btn-outline-primary" href="{{ .Site.Params.Links.Activeeon.try }}" target="_blank">Try It</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
