<footer>
    <div class="container pt-2">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link">
                    © 2017 Activeeon <span class="heart">❤️</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Params.Links.Activeeon.home }}" target="_blank">
                    <span>Activeeon</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Params.Links.Activeeon.try }}" target="_blank">
                    <span>Try it</span>
                </a>
            </li>
        </ul>
        <hr />
        <div class="row justify-content-center">
            <div class="col-2">
                <img class="card-img-top" src="{{ .Site.BaseURL }}images/about/about-activeeon.png" alt="ActiveEon Logo" />
            </div>
            <div class="col-2">
                <img class="card-img-top" src="{{ .Site.BaseURL }}images/about/about-inria.png" alt="Inria Logo" />
            </div>
            <div class="col-2">
                <img class="card-img-top" src="{{ .Site.BaseURL }}images/about/about-university-sophia.png" alt="Universite Nice Sophia Logo" />
            </div>
        </div>
    </div>
</footer>
