	<div class="jumbotron jumbotron-fluid background-image-getstarted">
		<div class="container">
		    <div class="row">
		        <div class="col-md-8 text-white">
		            <h1 class="display-1">Get Started</h1>
		            <p class="h2">Submit your workflow in just 3 steps</p>
		        </div>
		    </div>
		</div>
	</div>

	<div class="container">
		<div class="row">
		    <div class="col-md-8">
		        <h2>Step 1: Register and Login</h2>
		        <hr />
		        <p>
    	            Go to <a href="{{ .Site.Params.Links.Activeeon.try }}" target="_blank">try.activeeon.com</a> and register.
		        </p>
		        <img class="img-thumbnail mb-4" src="{{ .Site.BaseURL }}images/tuto/gif-tuto-register.gif" alt="register to proactive" />
		        <p>
                    Once your registration confirmed, just log in by clicking on the <a href="{{ .Site.Params.Links.Activeeon.trystudio }}" target="_blank">studio icon</a>.
		        </p>
		        <img class="img-thumbnail mb-4" src="{{ .Site.BaseURL }}images/tuto/gif-tuto-login.gif" alt="login to proactive" />

		        <h2>Step 2: Use some Templates</h2>
		        <hr />
		        <p>
		            Once logged in, just go to the template menu and import the workflow called <em>Distributed Computing</em> with a simple click.
		        </p>
		        <img class="img-thumbnail mb-4" src="{{ .Site.BaseURL }}images/tuto/gif-tuto-import.gif" alt="import a workflow" />

		        <h2>Step 3: Submit and Visualize</h2>
		        <hr />
		        <p>
                    Then, click on execute and visualize the execution on the <a href="{{ .Site.Params.Links.Activeeon.tryscheduler }}" target="_blank">scheduler portal</a>.
		        </p>
		        <img class="img-thumbnail mb-4" src="{{ .Site.BaseURL }}images/tuto/gif-tuto-submit.gif" alt="submit the workflow" />

		        <h2>Step 4: Next Steps</h2>
		        <hr />
		        <p>
                    At this stage, you've succesfully executed your first workflow. Do not hesitate to hang around and go through <a href="{{ .Site.Params.Links.Activeeon.try }}" target="_blank">some tutorials</a>, follow <a href="{{ .Site.Params.Links.Activeeon.blog }}" target="_blank">some blog articles</a> or read <a href="{{ .Site.Params.Links.Activeeon.doc }}" target="_blank">the documentation</a>.
		        </p>
		        <p>
		            For any other enquiry, please, do not hesitate to <a href="mailto:contact@activeeon.com?Subject=[ProActive]%20Request%20for%20information" target="_top">send an email</a>.
		        </p>
		    </div>
		</div>
	</div>

