<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ProActive from Activeeon {{ .Title }}</title>
        <meta name="description" content="Translate business processes to IT workflows with ProActive, a flexible orchestration and     scheduling solution.">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/app.css">
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicon.ico"> <!-- TODO: Change Favicon -->
    </head>
    <body>

