<nav class="head-bar navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top border-bottom-grey">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}images/activeeon-logo.png" alt="ActiveEon" height="50" class="d-inline-block align-top" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" />
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {{ range $.Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ .Pre }} {{ .Name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL }}" {{if in .URL "http"}}target="_blank"{{end}}>{{ .Name }}</a>
                        {{ end }}
                        </div>
                    </li>
                    {{else}}
                    <li>
                        <a class="nav-link" href="{{.URL}}" {{if in .URL "http"}}target="_blank"{{end}}>
                            {{ .Pre }} {{ .Name }}
                        </a>
                    </li>
                    {{end}}
                {{end}} 
            </ul>
        </div>
    </div>
</nav>
