	<div>
        <div class="jumbotron jumbotron-fluid background-image-getstarted">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 text-white">
		                <h1 class="display-1">Programming</h1>
                        <p class="h2">A Java Active Objects API for Parallel, Distributed and Multi-Core Computing</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-3">
                    <img class="card-img-top" src="{{ .Site.BaseURL }}images/proactive-programming.png" alt="ProActive Programming" />
                </div>
                <div class="col-md-8">
                    <p class="h5">ProActive Programming is at the core of the solution and provide the base for an efficient distribution and parallelization.</p>
                    <p class="h5">It is the foundation of the high level solutions: ProActive Workflows & Scheduling, ProActive Big Data Automation and ProActive Cloud Automation.</p>
                </div>
            </div>
        </div>


        {{ if gt (len .Site.Data.programmingnotes) 0 }}
        <div class="container">
            <div class="card-columns">
                {{ range $index, $element := sort .Site.Data.programmingnotes "weight" }}
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ $element.title }}</h4>
                        <p class="card-text text-muted">{{ $element.description }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
		{{ end }}
    </div>
