	<div>
        <div class="jumbotron jumbotron-fluid background-image-getstarted">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-white">
                        <h1 class="display-1">Release Notes</h1>
                    </div>
                </div>
            </div>
        </div>
        {{ if gt (len .Site.Data.releasenotes) 0 }}
        <div class="container">
            <div class="row">
                {{ range $index, $element := sort .Site.Data.releasenotes "date" "desc" }}
                <div class="col-md-8">
                    <h2>Version {{ $element.version }} <small> - {{ dateFormat "Jan 2, 2006" $element.date }}</small></h2>
                    <div>
                        <h3>Community Version</h3>
                        <ul>
                            {{ range $i, $devitem := $element.community }}
                            <li>{{ $devitem }}</li>
                            {{ end }}
                        </ul>
                        <h3>Enterprise Version</h3>
                        <ul>
                            {{ range $i, $devitem := $element.enterprise }}
                            <li>{{ $devitem }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    <hr />
                </div>
                {{ end }}
			</div>
		</div>
		{{ end }}
