<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	{{ partial "head.html" . }}

	<body>

		{{ partial "navbar.html" . }}

		<div class="background-image border-bottom-grey">
			<div class="jumbotron jumbotron-fluid mb-0 background-orange-transparent">
				<div class="container">
				    <div class="row">
				        <div class="col-md-8 text-white">
				            <h1 class="display-1">Activeeon</h1>
				            <p class="h2 mb-4">Job Scheduling, Workload Automation, Orchestration & Metascheduling on-premises and on all clouds.</p>
				            <a class="btn btn-outline-light" href='{{ with .Site.GetPage "page" "get-started.md" }}{{ .URL }}{{ end }}'>Try it in 3 steps</a>
				        </div>
				    </div>
				</div>
			</div>
		</div>


		<div class="container mb-3 mt-5">
			<div class="row mb-5 justify-content-md-center">
				<div class="col-md-8 text-center">
				    <h2>404 - I'm sorry you are lost!</h2>
                    <p class="h4">Go back to our <a href='{{ .Site.BaseURL }}'>homepage</a> to find your way.</p>
                </div>
			</div>
		</div>

		{{ partial "footer.html" . }}
		{{ partial "javascript.html" . }}
	
	</body>
</html>

