body {
    padding-top: 72px;
}

footer {
    background: #cccccc;
}

footer a {
    color: #444444;
}

.background-orange-transparent {
    background: #E86D1F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #E86D1F, #221F72); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #E86D1F, #221F72); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #E86D1F, #221F72); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #E86D1F, #221F72); /* Standard syntax */
    min-height: 25rem;
    opacity: 0.7;
}

.background-gray {
    background: rgb(204, 204, 204);
}

.background-lightgray {
    background: #ECEFF1;
}

.background-verylightgray {
    background: #F5F5F5;
}

.background-image {
    background: url(../images/windmills-orange.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-home-request {
    background: url(../images/photo/photo1-guido.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30rem;
}

.text-orange {
    color: #E86D1F;
}

.text-blue {
    color: #221F72;
}

.text-darkgrey {
    color: #555555;
}

h2 {
    color: #221F72;
}

.border-bottom-grey {
    border-bottom: solid 2px #cccccc;
}

.border-top-grey {
    border-top: solid 2px #cccccc;
}




.row-setheight {
    min-height: 30rem;
}

.background-image-getstarted {
    background: #E86D1F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #E86D1F, #221F72); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #E86D1F, #221F72); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #E86D1F, #221F72); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #E86D1F, #221F72); /* Standard syntax */
}

.background-orange {
    background: #E86D1F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #E86D1F, #221F72); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #E86D1F, #221F72); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #E86D1F, #221F72); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #E86D1F, #221F72); /* Standard syntax */
}

.background-image-community {
    background: url(../images/connect.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30rem;
}

.background-usecase {
    background: #eeeeee;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.background-image-worldmap {
    background: url(../images/worldmap-influence.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30rem;
}

.background-home-try {
    background: #E86D1F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #E86D1F, #221F72); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #E86D1F, #221F72); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #E86D1F, #221F72); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #E86D1F, #221F72); /* Standard syntax */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 20rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: solid 4px #221F72;
    border-bottom: solid 4px #221F72;
}

.background-white {
    background:rgba(255, 255, 255, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.acknowledgment-card {
    min-height: 13rem;
}

.image-ow2 {
    opacity: 0.8;
    max-height: 2rem;
}
